html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

body,
html {
    line-height: 1;
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ”;
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


@font-face {
    font-family: ("Oswald-Bold.ttf");
    src: url(/fonts\ /Oswald-Bold);
}

@font-face {
    font-family: ("Renner-Book.ttf");
    src: url(/fonts\ /Renner-Book);
}

@font-face {
    font-family: ("Oswald-Regular.ttf");
    src: url(/fonts\ /Oswald-Regular);
}

@font-face {
    font-family: ("Oswald-Light.ttf");
    src: url('./fonts\ /');
}

.header {
    // display: flex;
    // justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    // align-items: center;

    .hero {
    
            h1 {
                margin-left: 70px;
                padding: 5px;
                font-size: 65px;
                font-family: ("Oswald-Bold.ttf");
    
                span {
                    color: #ff7f00;
                }
            }
    
           .inner2 img{
                object-fit: cover;
                width: 100%;
            }
        }

        .logo { 
            a{ img{
                width: 16%;
                padding-bottom: 0%;
            }
        }
    }
}

.menu {
    background-color: rgb(215, 123, 65);
    position: absolute;
    width: 100%;
    top: -21px;
    left: -100vw;
    opacity: 0;
    transition: .4s ease;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 998;

    .menu-item {
        padding: 15px 20px;
        list-style: none;

        a {
            font-weight: 900;
        }

    }

    .menu-item {
        .nav-link:hover {
            transition: all .6s ease;
            color: rgb(215, 123, 65);
        }
    }

}

.hamburger {
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;

    .bar {
        height: 5px;
        width: 100%;
        background-color: black ;
        border-radius: 5px;
        z-index: 999
    }

    #top {
        transform: translateY(-4px);
        transition: all .6s ease;
    }

    #middle {
        transition: all .6s ease;
    }

    #bottom {
        transform: translateY(4px);
        transition: all .6s ease;
    }
}

.open {
    opacity: 1;
    left: 0;

    #top {
        transform: translateY(5px) rotate(135deg);
        // background-color: white;
    }

    #middle {
        opacity: 0;
        transform: rotate(360deg);
    }

    #bottom {
        transform: translateY(-5px) rotate(-135deg);
        // background-color: white;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
    .header {
        .menu {
            top: 0;
        }
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .header {
        .menu {
            top: 0;
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header {
        padding: 30px 0;
        align-items: center;
        margin-top: 0;



        .menu {
            position: relative;
            top: -166px;
            width: 100%;
            left: 21%;
            opacity: 1;
            display: flex;
            border-radius: 6px;
            justify-content: center;
            background-color: white;
            align-items: center;
            flex-direction: row;
            // gap: 60px;

            .menu-item {
                padding: 27px 10px;

                a {
                    color: black;
                    font-size: 20px;
                    text-decoration: none;
                    img{
                        width: 40px;
                    }
                }

                .bold {
                    font-size: 33px;
                }

            }
        }

        .hamburger {
            display: none;
        }

    }
}

// About
.About {
    background-color: black;
    padding-bottom: 100px;




    .card {
        height: 68%;
        width: 85%;
        margin-top: -17%;
        background-color: #FF7F00;
        margin-left: 60px;
        padding: 40px;

        .card-body {
            h2 {
                padding-top: 30px;
                margin-left: 55px;
                line-height: 1.5;
                font-size: 25px;
                font-family: ("Oswald-Regular.ttf");
            }

            p {
                padding-top: 40px;
                width: 90%;
                font-size: 15px;
                margin-left: 55px;
                line-height: 1.5;
                font-family: ("Oswald-Light.ttf");
            }
        }
    }

    .image img {
        padding-top: 15%;
        padding-bottom: 15%;
        width: 70%;
        margin-left: 100px;
    }

    .second {
        color: rgb(200, 194, 194);
        width: 70%;
        margin-left: 90px;
        line-height: 1.5;
        font-family: ("Oswald-Light.ttf");
        padding-top: 8%;
    }

    .part1 {
        background-color: white;
        height: 73%;
        text-align: center;
        padding-top: 35px;
        font-size: 23px;
        margin-top: 70px;
        font-family: ("Oswald-Bold.ttf");
    }

    .part2 {
        background-color: white;
        height: 73%;
        text-align: center;
        padding-top: 35px;
        font-size: 23px;
        margin-top: 70px;
        font-family: ("Oswald-Bold.ttf");
    }

    .part3 {
        background-color: #FF7F00;
        height: 73%;
        width: 91%;
        text-align: center;
        padding-top: 35px;
        font-size: 23px;
        color: white;
        margin-top: 70px;
        font-family: ("Oswald-Bold.ttf");
    }
}

// End

.gallery {
    margin-top: 110px;
    margin-bottom: 110px;


    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .color {
        background-color: black;
        font-size: 23px;

        span {
            color: #ff7f00;
        }

        p {
            padding-top: 20%;
            font-size: 27px;
            line-height: 40px;
            color: white;
            font-family: "Oswald-Bold.ttf";
            padding-left: 8%;
            padding-right: 8%;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    h2 {
        margin-top: 20px;
        margin-left: 42px;
        font-size: 30px;
        font-family: ("Renner-Book.ttf");

        span {
            color: #FF7F00;

            hr {
                width: 60px;
                height: 3px;
                position: relative;
                left: 170px;
                top: -48px;
            }
        }
    }

    p {
        margin-bottom: 50px;
        font-size: 16px;
        color: black;
        font-family: ("Renner-Book.ttf");
        line-height: 25px;
    }

}

.Aims {
    background-color: black;
    padding-bottom: 5%;
    padding-top: 5%;

    .dd {
        background-color: #FF7F00;
        height: 476px;
        margin-left: 67px;
        padding: 115px;
        line-height: 60px;
        width: 41%;

        span {
            color: white;
        }

        p {
            font-size: 38px;
            width: 112%;
        }
    }

    .ddd {
        // margin-top: 120px;
        padding-left: 100px;
        padding-right: 11px;

        h4 {
            color: #FF7F00;

            hr {
                width: 80px;
                position: relative;
                left: 35%;
                top: -32px;
                height: 2px;
            }
        }

        p {
            font-size: 15px;
            color: white;
            font-family: Renner bold;
            line-height: 29.6px;
        }
    }
}

.donate {
    margin-top: 110px;
    margin-bottom: 110px;

    h1 {
        color: #FF7F00;
        font-size: 69px;
        width: 65%;
        margin-left: 22%;
        text-align: center;
    }

    .para1 {
        p {
            line-height: 24.6px;
        }
    }

    .para2 {
        p {
            width: -1px;
            line-height: 31px;
            font-family: ("Oswald-Light.ttf");
        }
    }

    img {
        margin-left: 70px;
        margin-top: 100px;
    }

    .im6 {
        bottom: 12px;
        margin-left: 100px;
    }

    .im7 {
        position: relative;
        top: 20px;
        margin-left: 100px;
    }

    .im8 {
        position: relative;
        top: 20px;
        margin-left: 100px;
    }

    .im9 {
        margin-left: 100px;
    }

    .im10 {
        margin-left: 100px;
    }




    .im11 {
        margin-left: 100px;
    }

    .im12 {
        position: relative;
        top: 20px;
        margin-left: 100px;
    }

    .im13 {
        margin-left: 100px;
    }

    .im14 {
        margin-left: 100px;
    }

    .im15 {
        margin-left: 100px;
    }


}

.contact {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;

    h5 {
        color: white;
        padding-bottom: 29px;
        font-size: 18px;
    }

    .list1 {
        margin-left: 130px;
        font-size: 12px;
        line-height: 20px;
    }

    .list2 {
        margin-left: 155px;
        font-size: 12px;
        margin-bottom: 70px;
        line-height: 20px;
    }

    .list3 {
        margin-left: 210px;
        font-size: 12px;

        h5 {
            margin-left: 20px;
        }

        a {
            color: white;
            text-decoration: none;
            position: absolute;
        }

        .navv {
            display: flex;
            justify-content: space-evenly;
            margin-right: 22%;
        }
    }

    hr {
        height: 3px;
        color: white;
        border: 1px solid white;
        width: 83%;
        margin-left: 126px;
    }

    .ccc {
        padding-left: 127px;
        padding-top: 57px;

        p {
            color: rgba(255, 255, 255, 0.66);

            .vv {
                width: 18px;
            }

            .vvv {
                width: 18px;
            }
        }
    }

    .cc {
        padding-top: 57px;

        p {
            color: rgba(255, 249, 249, 0.617);
            font-size: 12px;

            .vvvv {
                width: 12px;
            }
        }
    }
}



@media (min-width:425px) and (max-width: 768px) {

    .About {
        .card {
            width: 100%;
            margin: 0px;

            .card-body {
                h2 {
                    text-align: center;
                    width: 100%;
                    padding: 0px;
                    margin: 0px;
                }

                p {
                    text-align: center;
                    width: 100%;
                    padding: 0px;
                    margin: 0px;
                    padding-top: 15px;
                }
            }
        }

        .image img {
            padding: 0px;
            margin: 30px;
            width: 85%;
        }

        .part3 {
            width: 100%;
        }
    }


    .gallery {
        .gallery img {
            height: 95%;
            padding: 0px;


        }

        .color {
            p {
                padding: 0px;
                text-align: center;
            }
        }

        h2 span {
            text-align: center;
        }

        p {
            text-align: center;
        }

    }



    .Aims {
        padding-top: 0px;

        .dd {
            margin: 0px;
            padding: 10px;
            width: 100%;
            height: 322px;

            p {
                width: 100%;
                text-align: center;
            }
        }

        .ddd {
            padding: 12px;

            h4 {
                text-align: center;
                font-size: 30px;
                padding-bottom: 10%;
                padding-top: 10%;

                hr {
                    display: none;
                }
            }

            p {
                padding: 0px;
                margin: 0px;
                width: 100%;
                text-align: center;

            }
        }
    }

    .donate {
        line-height: 30px;
        text-align: center;

        h1 {
            width: 100%;
            padding: 0px;
            margin: 0px;
            padding-bottom: 36px;
        }

        img {
            margin: 0px;
            padding: 0px;
            width: 70%;
        }

        .im6 {
            margin: 0px;
        }

        .im7 {
            margin: 0px;
        }

        .im8 {
            margin: 0px;
        }

        .im9 {
            margin: 0px;
        }

        .im10 {
            margin: 0px;
        }

        .im11 {
            margin: 0px;
        }

        .im12 {
            margin: 0px;
        }

        .im13 {
            margin: 0px;
        }

        .im14 {
            margin: 0px;
        }

        .im15 {
            margin: 0px;
        }
    }

    .contact {
        padding-top: 18px;
        margin: 0px;

        h5 {
            width: 100%;
        }

        .list1 {
            padding-left: 27px;
            margin: 0px;
        }

        .list2 {
            padding-left: 30px;
            margin: 0px;
        }

        .list3 {
            text-align: center;
            padding: 0px;
            margin: 16px;
            padding-top: 58px;

            h5 {
                text-align: center;
                margin: 0px;
            }

            .navv {
                margin-right: 0px;
            }
        }

        hr {
            margin-left: 36px;
        }
    }





}